:root {
  --silver-1: rgb(182, 182, 182);
  --silver-2: rgb(128, 128, 128);
  --silver-3: rgb(126, 125, 125);
  --silver-4: rgb(105, 105, 105);
  --silver-5: rgb(65, 65, 65);

  --red-3: rgba(131, 0, 0, 0.5);

  --shadow-1: 0px 4px 8px 0px rgba(65, 65, 65, 0.8);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
